@keyframes slide-in-blurred-right {
    from {
      opacity: 0;
      transform: translateX(100px)
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-webkit-keyframes slide-in-blurred-right {
    from {
      opacity: 0;
      -webkit-transform: translateX(100px);
    }

    to {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }

  .slide-in-blurred-right {
    -webkit-animation: slide-in-blurred-right 5.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 5.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    
  }

  